/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

.Mobile {
    display: none;
}

@media 
only screen and (max-width: 760px){
    html, body {
	    max-width: 100%;
	    overflow-x: hidden;
	}
    .toolbar,.Mobile.TopBar {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .Mobile.TopBar {
        display: block;
		position: fixed;
    	top: 0em;
		width: 100%;
        height: 3em;
        padding: 0.5em;
        box-sizing: border-box;
		z-index: 100;
        background-color: #03A9F4;
    }
    .Mobile.TopBar .button {
        height: 100%;
        width: 3em;
        border: solid white 1px;
        border-radius: 5px;
    }
    .Mobile.TopBar .button:hover {
        background-color: #02A0F0;
        cursor:pointer;
    }
    
    body{
        overflow-x: hidden;
        width: 100%;
    }
    #fiction-table{
        width: 100%;
        padding-top: 3em;
    }
    .body,.toolbar{
        float: left;
        box-sizing: border-box;
        position: static;
    }
    .toolbar{
        position: fixed;
        padding-left: 0;
        padding-right: 0;
        width: 0%;
        height: calc(100% - 2.61em);
        box-sizing: border-box;
        overflow-y: hidden;
        border-radius: 0;
        white-space: nowrap;
        transition: 1s;
    }
    .toolbar.active{
        width: 50%;
        padding-left: 1em;
        padding-right: 1em;
        z-index: 50;
    }
    
    a:link,a:visited, a:hover, a:active{
        font-weight: bold;
    }
    
	/* Force table to not be like tables anymore */
	table.ArkTable, .ArkTable thead, .ArkTable tbody, .ArkTable th, .ArkTable td, .ArkTable tr { 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.ArkTable thead {
        display: none;
	}
	
	.ArkTable tr { border-bottom: 3px solid #03A9F4; }
	
	.ArkTable td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 37%; 
	}
	
	.ArkTable td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0px;
		left: 5px;
		width: 37%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    
    .ArkTable .SpecialCircle div:nth-child(1){
        display: none;
    }
	
	/*
	Label the data
	*/
    .ArkTable td:nth-of-type(1):before { content: "Title"; }
    .ArkTable td:nth-of-type(3):before { content: "Author"; }
    .ArkTable td:nth-of-type(4):before { content: "Words"; }
    .ArkTable td:nth-of-type(5):before { content: "Type"; }
    .ArkTable td:nth-of-type(6):before { content: "Complete"; }
    .ArkTable td:nth-of-type(7):before { content: "Setting"; }
    .ArkTable td:nth-of-type(8):before { content: "Elsa"; }
    .ArkTable td:nth-of-type(9):before { content: "Anna"; }
    .ArkTable td:nth-of-type(10):before { content: "Powers"; }
    .ArkTable td:nth-of-type(11):before { content: "Sisters"; }
    .ArkTable td:nth-of-type(12):before { content: "Rated"; }
    .ArkTable td:nth-of-type(13):before { content: "Smut"; }
    .ArkTable td:nth-of-type(14):before { content: "Added"; }
    .ArkTable td:nth-of-type(15):before { content: "Published"; }
}