@font-face{
  font-family: 'Futura Bk';
  src: url('fbk.eot');
  src: url('fbk.eot?iefix') format('embedd-opentype'),
    url('fbk.woff') format('woff'),
    url('fbk.ttf') format('truetype'),
    url('fbk.svg#webfont') format('svg');
}
body{
    margin: 0;
}
table.ficT {
    font-size: 0.75em;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
    font-family: 'Futura Bk';
}
.ficT tr::before, tr::after{
    display: table-cell;
    content: "";
    width: 10%;
}
.ficT td, th {
    padding: 1.5em 0.7em ;
    text-align: left;
    vertical-align: text-top;
}
    .ficT td.err {
        background-color: #e992b9;
        color: #fff;
        font-size: 0.75em;
        text-align: center;
        line-height: 1;
    }
.ficT thead {
    background-color: #03A9F4;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
.ficT .sortable:hover {
background-color: #02A0F0;
}
.ficT tbody th {
    background-color: #2ea879;
}
.ficT tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .25s ease-out;
}
.ficT tbody tr:hover {
    background-color: rgba(3,169,244,.3);
}

.hshow{
    visibility: hidden;
}
.hshow:hover{
    visibility: visible;
}
.hshow div:first-child{
    visibility: visible;
    display: inline-block;
    border: 0em solid black;
    border-radius: 50%;
    padding:0.2em;
    margin: 0.25em 0;
    width:1.2em;
    background: #555;
    color: #FFF;
    font-size:0.9em;
    text-align:center
}
.hshow div:nth-child(2){
    visibility: inherit;
    max-width: 20em;
    padding: 1em;
    position: absolute;
    margin: -1.25em 1.4em;
    background-color: #e5e5e5;
}
.hshow a:link,a:visited, a:hover, a:active{
    color: inherit;
    text-decoration: none;
}
div.textBlock{
    text-align: justify;
    text-indent: 1em;
}