@font-face{
  font-family: 'Futura Bk';
  src: url('fbk.eot');
  src: url('fbk.eot?iefix') format('embedd-opentype'),
    url('fbk.woff') format('woff'),
    url('fbk.ttf') format('truetype'),
    url('fbk.svg#webfont') format('svg');
}
body{
    font-family: 'Futura Bk';
    margin: 0;
}
a:link,a:visited, a:hover, a:active{
    color: inherit;
    text-decoration: none;
    cursor:pointer;
}
@media (min-width: 760px){
    table.ArkTable {
        font-size: 0.75em;
        border-collapse: collapse;
        margin: auto;
        margin-bottom: 3em;
        width: 100%;
        background: #fff;
    }
    .ArkTable tr::before,.ArkTable  tr::after{
        display: table-cell;
        content: "";
        width: 10%;
    }
    .ArkTable td, th {
        padding: 1.5em 0.7em ;
        text-align: left;
        vertical-align: text-top;
    }
    .ArkTable td.err {
        background-color: #e992b9;
        color: #fff;
        font-size: 0.75em;
        text-align: center;
        line-height: 1;
    }
    .ArkTable thead {
        background-color: #03A9F4;
        font-weight: bold;
        color: #fff;
        white-space: nowrap;
    }
    .ArkTable thead .sortable:hover {
        background-color: #02A0F0;
        cursor:pointer;
    }
    .ArkTable thead .sorted{
        background-color: #008fdf;
    }
    .ArkTable tbody th {
        background-color: #2ea879;
    }
    .ArkTable tbody tr:nth-child(2n-1) {
        background-color: #f5f5f5;
        transition: all .25s ease-out;
    }
    .ArkTable tbody tr:hover {
        background-color: rgba(3,169,244,.3);
    }

    .SpecialCircle{
        visibility: hidden;
    }
    .SpecialCircle:hover{
        visibility: visible;
    }
    .SpecialCircle div:first-child{
        visibility: visible;
        display: inline-block;
        border: 0em solid black;
        border-radius: 50%;
        padding:0.2em;
        margin: 0.25em 0;
        width:1.2em;
        background: #555;
        color: #FFF;
        font-size:0.9em;
        text-align:center
    }
    .SpecialCircle div:nth-child(2){
        visibility: inherit;
        max-width: 20em;
        padding: 1em;
        position: absolute;
        margin: -1.25em 1.4em;
        background-color: #e5e5e5;
    }
    .SpecialCircle .textBlock{
        text-align: justify;
        text-indent: 1em;
    }
    /* Toolbar */
    .toolbar {
        height: calc(50% + 1em);
        top: calc(100% - 2em);
        right: 10%;
        border-radius: 5px 5px 0 0;
        transition: top 0.3s;
        transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    }
    .toolbar.active {
        top: calc(50% - 2em);
    }
}
/* Toolbar */
.toolbar {
    font-size: 1.15em;
    position: fixed;
    background-color: #03A9F4;
    color: white;
    padding: 0.5em 1em;
}
.toolbar.active {
    background-color: #008fdf;
}
.toolbar table.panel tr:nth-child(n+2):hover {
    background-color: #02A0F0;
    cursor:pointer;
}
.toolbar .menu-name{
    margin-bottom: 0.3em;
    cursor:pointer;
}
.toolbar .slide{
    float: left;
    height: 100%;
}
.toolbar div.panel{
    height: 100%;
}
.toolbar div.inner-panel{
    height: calc(100% - 1.3em);
}
.toolbar table.panel{
    width: 100%;
    border-spacing: 0;
    margin: 0 0 1em 0.4em;
}
.toolbar table.panel td {
    padding: 0.2em 1em 0.2em 0;
}
.toolbar table.panel td:nth-child(2) {
    text-align: right;
}
.toolbar table.panel .title td{
    font-size: 0.9em;
    padding-bottom: 0.2em;
}
.toolbar table.panel .option td{
    font-size: 0.85em;
}

.overflow-y{
    overflow-y: scroll;
    overflow-x: hidden;
}
